.navbar{
    background-color: #0056b3;
    width: 85%;
    margin: 20px auto;
    padding: 12px 20px;
    
    border: 3px solid #D1D1D6;  /* Un plata fino fijo que sí permite redondear */
    border-radius: 50px;       /* Esquinas perfectamente redondas */
    
    /* Una sombra para darle ese toque premium y de relieve */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;

}

.navbar a{
   color:white;
   text-decoration: none;
   text-align: justify;
   padding: 14px 20px;  


}




/*
@media screen and (max-width:700px) {

            .navbar{ flex-direction: column;}   
    
}*/

@media (max-width: 600px) {
    .nav-menu { /* El nombre de tu clase de navegación */
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .nav-menu a {
        padding: 10px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
}
